<h1 style="text-align: center">Sobre o Angular</h1>
<p>Angular é um Framework que possibilita construir
    aplicações Web baseadas em HTML 5, CSS e
    JavaScript.</p>

<p>Ele permite organizar essas tecnologias e entregar uma
    aplicação que executa no Browser, capaz de consumir
    um ou vários serviços disponibilizados por um servidor.</p>

<p>Quando o Angular 2 foi anunciado, criou um pouco de
    confusão, pois o time de desenvolvedores, decidiu
    reescrever o Angular do zero. Isso quebrou a
    compatibilidade com a versão 1.

    Os fatores que levaram a isso foram:

    O Angular surgiu para apps simples

    A API cresceu inconsistente

    Performance ruim

    A partir disso surgiu o Angular 2, que é um frame mais
    moderno, mais aderente aos padrões da web, e em
    muitos aspectos mais simples, com um padrão mais
    fácil de evoluir.

    Os principais benefícios desse novo Angular são:

    Mais aderente a padrões

    Trabalha com a ideia de classes</p>

<p>Qualquer propriedade do DOM pode receber um
    valor dinamicamente sem a necessidade de criar
    diretivas.

    No site: (https://angular.io/) é possível
    visualizar um conteúdo bem
    abrangente, onde encontramos:
    Tutoriais, Dicas, Ferramentas do
    Angular, Melhores Práticas, entre
    outros...</p>